{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
  <section class="card card-body">
    <h1 class="diaplay-1 text-center">BRAYMAX</h1>
    <p>BRAYMAX es un asistente virtual que utiliza tecnologías como el Machine Learning para ofrecer la prediccion de un posible caso de diabetes en base a sus datos, ademas de consejos y sugerencias para mejorar la calidad de vida de las personas afiliadas a una EPS.</p>

    <div class="text-center">
      <a class="btn btn-primary" href="/signin/">
        Signin
      </a>
      <a class="btn btn-light" href="/signup/">
        Signup
      </a>   
    </div>

  </section>

</main>

{% endblock %}
