{% extends 'base.html' %}

{% block content %}

<main class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <h1>Task detail</h1>

      <h3 class="text-secondary">{{task.title}}</h3>

      {{error}}
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button class="btn btn-primary">
          Update
        </button>
      </form>
      <div class="mt-5 d-flex">

        <form action="{% url 'complete_task' task.id %}" method="post">
          {% csrf_token %}
          <button class="btn btn-secondary">
            Complete
          </button>
        </form>

        <form action="{% url 'delete_task' task.id %}" method="post">
          {% csrf_token %}
          <button class="btn btn-danger">
            Delete
          </button>
        </form>        
      </div>
    </div>
  </div>  
</main>



{% endblock %}
